:root {
  /* Colors */
  --color-primary: black;
  --color-secondary: darkturquoise;
  --dark-variation: #243119;
  --color-variation: #ACECA1;
  --soft-variation: #C9F2C7;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --warm-black: #282623;
  /* Fonts */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 24rem;
  --title-h4: 20rem;
  --title-h5: 16rem;
  --paragraphs: 14rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}
body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}


header {
  display: flex;
  width: inherit;
  height: 7vh;
  background-color: white;
  border-bottom: 3px solid darkturquoise;
  align-items: center;
}
.logo-container {
  width: 60%;
  padding-left: 30px;
}
.logo-container img {
  height: 5vh;
}
header > nav {
  display: flex;
  width: 35%;
  justify-items: flex-end;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
  transition: all 1s ease;
  list-style: none;
}
header li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--title-h5);
}
header a:hover {
  transition: all 1s;
  color: black;
}
header li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icons img {
  height: 3.5vh;
  padding-top: 5px;
  padding-right: 5px;
}

.main-view {
  background-image: url('../images/assets/index/banquete2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 53vh;
  margin-bottom: 40px;
}
.main-view > div {
  background-color: rgba(0,0,0, .5);
  width: 100vw;
  height: 53vh;
  padding: 15vh 0 0 10%;
  color: var(--just-white);
}
.main-view h1 {
  font-size: 100rem;
  line-height: 100rem;
}
.main-view p {
  margin-top: 20px;
  font-size: var(--title-h4);
}

.main__welcome {
  display: flex;
  width: 85vw;
  margin: 20px auto;
}
.main__welcome img {
  height: 33vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.section-contenedor{
  display: flex;
}
.main-formulario{
  width: 40vw;
  height: 80vh;
  margin-left: 7%;
  margin-top: 5%;
}
.main-info{
  width: 40vw;
  height: 90vh;
  margin-left: 7%;
  
}
.main-form{
  width: 100%;
  height: 90%;
}
.main-form div{
  width: 100%;
  height: 15%;
}
.input_uno{
  width: 100%;
  height: 70%;
  padding-left: 10px;
  margin-top: 1%;
  border: 2px solid var(--color-secondary);
}
.input_dos{
  width: 100%;
  height: 70%;
  padding-left: 10px;
  margin: 0;
  border: 2px solid var(--color-secondary);
}
::placeholder{
  color:darkturquoise;
}
.main-form textarea{
  width: 100%;
  height: 65%;
  padding-left: 10px;
  margin: 0 0 0 0;
  border: 2px solid var(--color-secondary);
}
.main-formulario button{
  position: absolute;
  left:38%;
  width: 8%;
  height: 4%;
  background-color: var(--color-secondary);
  color:var(--just-white)
}
.main-info > figure img{
  height: 7vh;
}
.part-one p, a{
  font-size: var(--title-h4);
  margin: 20px 0;
}
.part-one a{
  text-decoration: none;
}
.lista-contacto{
  padding: 50px 0;
  font-size: var(--title-h5);
}
.lista-contacto li{
  margin-bottom: 5px;
  padding: 0 10px;
  list-style: none;
}
.mapa{
  width: 100vw;
  height: 50vh;
}
.mapa img{
  width: 100%;
  height: 50vh;
}


footer{
  width: 100%;
  height: 15vh;
  border-top: 2px solid var(--color-secondary);
  padding-top: 5vh;
}
footer section{
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.copy{
  font-size: var(--paragraphs);
  margin-left: 15vw;
}
.logo{
  width: 10vw;
  margin-left: 5vw;
}

footer nav {
  display: flex;
  width: 30vw;
  justify-items: flex-end;
  justify-content: space-between;
  transition: all 1s ease;
  list-style: none;
  margin-right: 5vw;
}
footer li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
footer a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--paragraphs);
}
footer a:hover{
  transition: all 1s;
  color: black;
}
footer li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icon-footer img {
  width: 2vw;
  padding-top: 5px;
  padding-right: 5px;
}



@media screen and (max-width: 1124px){
  .part-one p, a{
    font-size: var(--paragraphs);
    margin: 20px 0;
  }
  .main-formulario button{
    position: absolute;
    left:38%;
    width: 9%;
    height: 5%;
    background-color: var(--color-secondary);
    color:var(--just-white)
  }
  .logo-container {
    width: 20%;
    padding-left: 20px;
  }
  header > nav {
    position: absolute;
    right: 0;
    width: 45%;
    justify-content: space-between;
    margin-right: 0px;
    transition: all 1s ease;
    list-style: none;
  }
  header li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
    .main-view {
      background-image: url('../images/assets/index/banquete2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 45vh;
      margin-bottom: 40px;
    }
    .main-view > div {
      background-color: rgba(0,0,0, .5);
      width: 100vw;
      height: 45vh;
      padding: 11vh 0 0 10%;
      color: var(--just-white);
    }
    .main-view h1 {
      font-size: 80rem;
      line-height: 100rem;
    }
    .main-view p {
      margin-top: 15px;
      font-size: var(--paragraphs);
    }

    copy{
      font-size: var(10rem);
      margin-left: 5vw;
      width: 35vw;
    }
    .logo{
      width: 12vw;
      margin-right: 5vw;
    }
  
    footer nav {
      display: flex;
      width: 40vw;
      justify-items: flex-end;
      justify-content: space-between;
      transition: all 1s ease;
      list-style: none;
    }
    footer li {
      display:inline-block;
      margin-bottom: 5px;
      border-bottom: 2px solid transparent;
      transition: all .3s ease;
      line-height: normal;
    }
    footer a {
      text-transform: uppercase;
      text-decoration: none;
      display: inline;
      color: gray;
      font-size: var(9rem);
    }
    .icon-footer img {
      height: 3.5vh;
    }
}

@media screen and (max-width: 780px){
  .logo-container img {
    height: 3.5vh;
  }
  header > nav {
    position: absolute;
    left: 40%;
    width: 63.5%;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 0px; 
    transition: all 1s ease;
    list-style: none;
  }
  header li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  header a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: 10rem;
  }
  .icons img {
    height: 3vh;
    padding-top: 5px;
    padding-right: 2px;
  }
  .main-view {
    background-image: url('../images/assets/index/banquete2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 38vh;
    margin-bottom: 40px;
  }
  .main-view > div {
    background-color: rgba(0,0,0, .5);
    width: 100vw;
    height: 38vh;
    padding: 9vh 0 0 10%;
    color: var(--just-white);
  }
  .main-view h1 {
    font-size: 60rem;
    line-height: 80rem;
  }
  .main-view p {
    margin-top: 10px;
    font-size: var(--paragraphs);
  }

  .section-contenedor{
    display: block;
  }
  .part-one p, a{
    font-size: var(--paragraphs);
    margin: 20px 0;
  }
  .main-formulario{
    width: 90vw;
    height: 100vh;
    margin: 10% auto 0;
  }
  .main-info{
    width: 90vw;
    height: auto;
    margin:10% auto 0;
  }
  .main-formulario button{
    position: absolute;
    left:75%;
    width: 17%;
    height: 5%;
    background-color: var(--color-secondary);
    color:var(--just-white)
  }
  .lista-contacto{
    font-size: var(--paragraphs);
  }
  .mapa{
    width: 100vw;
    height: 35vh;
  }
  .mapa img{
    width: 100%;
    height: 35vh;
  }
  
  .copy{
    font-size: 10rem;
    margin-left: 5vw;
    width: 35vw;
  }
  .logo{
    width: 8vh;
    margin-right: 5vw;
  }
  footer nav {
    display: flex;
    width: 35vw;
    justify-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease;
    list-style: none;
    padding-left: 12%;
  }
  footer li {
    display:block;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  footer a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: 10rem;
  }
  .icon-footer img {
    height: 3.5vh;
    width: 3vh;
  }
}