:root {
  /* Colors */
  --color-primary: black;
  --color-secondary: darkturquoise;
  --dark-variation: #243119;
  --color-variation: #ACECA1;
  --soft-variation: #C9F2C7;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --warm-black: #282623;
  /* Fonts */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 24rem;
  --title-h4: 20rem;
  --title-h5: 16rem;
  --paragraphs: 14rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}
body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  width: inherit;
  height: 7vh;
  background-color: white;
  border-bottom: 3px solid darkturquoise;
  align-items: center;
}
.logo-container {
  width: 60%;
  padding-left: 30px;
}
.logo-container img {
  height: 5vh;
}
header > nav {
  display: flex;
  width: 35%;
  justify-items: flex-end;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
  transition: all 1s ease;
  list-style: none;
}
header li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--title-h5);
}
header a:hover {
  transition: all 1s;
  color: black;
}
header li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icons img {
  height: 3.5vh;
  padding-top: 5px;
  padding-right: 5px;
}

.main-view {
  background-image: url('../images/assets/index/banquete2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 53vh;
  margin-bottom: 40px;
}
.main-view > div {
  background-color: rgba(0,0,0, .5);
  width: 100vw;
  height: 53vh;
  padding: 8% 0 0 10%;
  color: var(--just-white);
}
.main-view h1 {
  font-size: 100rem;
  line-height: 100rem;
}
.main-view p {
  margin-top: 20px;
  font-size: var(--title-h4);
}

.links{
  width: 80%;
  height: 5vh;
  margin:  auto 9%;
  margin-bottom: 5vh;
}
.links a{
  font-size: 1vw;
  margin-left: 1.2vw;
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
}
.links a:hover {
  color: black;
  border-bottom: 2px solid rgb(49, 22, 22);
  padding-bottom: 3px;
  transition: all .1s;
}
.links a:focus{
  color:var(--color-secondary);
}
.main-table{
  width: 80vw;
  height: 80vh;
  margin: auto;
}
table{
  display: inline-block;
  width: 49.9%;
  height: 50%;
  margin:0;
  padding: 0;
}
th{
  width: 100vh;
  height: 40vh;
}
.img1{
  background-image: url('../images/assets/index/galeria6.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img2{
  background-image: url('../images/assets/index/galeria5.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img3{
  background-image: url('../images/assets/index/galeria4.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img4{
  background-image: url('../images/assets/index/galeria1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img5{
  background-image: url('../images/assets/index/galeria2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img6{
  background-image: url('../images/assets/index/galeria3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer{
  width: 100%;
  height: 20vh;
  border-top: 2px solid var(--color-secondary);
  padding-top: 5vh;
  margin-top: 5%;
}
footer section{
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.copy{
  font-size: var(--paragraphs);
  margin-left: 15vw;
}
.logo{
  width: 10vw;
  margin-left: 5vw;
}

footer nav {
  display: flex;
  width: 30vw;
  justify-items: flex-end;
  justify-content: space-between;
  transition: all 1s ease;
  list-style: none;
  margin-right: 5vw;
}
footer li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
footer a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--paragraphs);
}
footer a:hover{
  transition: all 1s;
  color: black;
}
footer li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icon-footer img {
  width: 2vw;
  padding-top: 5px;
  padding-right: 5px;
}



@media screen and (max-width: 1124px){
  .logo-container {
    width: 20%;
    padding-left: 20px;
  }
  header > nav {
    position: absolute;
    right: 0;
    width: 45%;
    justify-content: space-between;
    margin-right: 0px;
    transition: all 1s ease;
    list-style: none;
  }
  .main-view {
    background-image: url('../images/assets/index/banquete2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    margin-bottom: 40px;
  }
  .main-view > div {
    background-color: rgba(0,0,0, .5);
    width: 100vw;
    height: 45vh;
    padding: 12vh 0 0 10%;
    color: var(--just-white);
  }
  .main-view h1 {
    font-size: 80rem;
    line-height: 100rem;
  }
  .main-view p {
    margin-top: 20px;
    font-size: var(--title-h5);
  }
  .links{
    width: 80%;
    height: 7vh;
    margin:  auto 10%;
    margin-bottom: 4vh;
    padding: 12px 15px;
    display: flex;
    overflow-x: auto;
    background-color: rgba(0,0,0, .1);
    border-radius: 15px;
  }
  .links::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .links a{
    font-size: 2.3vh;
    margin-left: 2vw;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
  }
  .main-table{
    width: 80vw;
    height: 80vh;
    margin: auto;
  }
  table{
    display: inline-block;
    width: 49.8%;
    height: 50%;
    margin:0;
    padding: 0;
  }

  .copy{
    font-size: var(10rem);
    margin-left: 5vw;
    width: 35vw;
  }
  .logo{
    width: 12vw;
    margin-right: 5vw;
  }

  footer nav {
    display: flex;
    width: 40vw;
    justify-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease;
    list-style: none;
  }
  footer li {
    display:inline-block;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  footer a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: var(9rem);
  }
  .icon-footer img {
    height: 3.5vh;
  }
}





@media screen and (max-width: 780px){
  .logo-container img {
    height: 3.5vh;
  }
  header > nav {
    position: absolute;
    left: 38%;
    width: 60%;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 0px; 
    transition: all 1s ease;
    list-style: none;
  }
  header li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  header a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: 10rem;
  }
  .icons img {
    height: 3vh;
    padding-top: 5px;
    padding-right: 2px;
  }
.main-view {
  background-image: url('../images/assets/index/banquete2.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 38vh;
  margin-bottom: 20px;
}
.main-view > div {
  background-color: rgba(0,0,0, .5);
  width: 100vw;
  height: 38vh;
  padding: 12vh 0 0 10%;
  color: var(--just-white);
}
.main-view h1 {
  font-size: 60rem;
  line-height: 80rem;
}
.main-view p {
  margin-top: 15px;
  font-size: var(--paragraphs);
}
.links{
  width: 80%;
  height: 7vh;
  margin:  auto 10%;
  margin-bottom: 4vh;
  padding: 12px 15px;
  display: flex;
  overflow-x: auto;
  background-color: rgba(0,0,0, .1);
  border-radius: 15px;
}
.links::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.links a{
  font-size: 2.2vh;
  margin-left: 3vw;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
}
.main-table{
  width: 80vw;
  height: 140vh;
  margin: auto;
}
table{
  display: block;
  width: 100%;
  height: 50.5%;
}
th{
  width: 100vh;
  height: 35vh;
}

.copy{
  font-size: 10rem;
  margin-left: 5vw;
  width: 35vw;
}
.logo{
  width: 8vh;
  margin-right: 5vw;
}
footer nav {
  display: flex;
  width: 35vw;
  justify-items: flex-end;
  justify-content: space-between;
  transition: all 1s ease;
  list-style: none;
  padding-left: 12%;
}
footer li {
  display:block;
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
footer a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: 10rem;
}
.icon-footer img {
  height: 3.5vh;
  width: 3vh;
}
}