:root {
  /* Colors */
  --color-primary: black;
  --color-secondary: darkturquoise;
  --dark-variation: #243119;
  --color-variation: #ACECA1;
  --soft-variation: #C9F2C7;
  --just-white: #FFF;
  --soft-white: #FAF8F7;
  --just-grey: #C7C7C7;
  --warm-black: #282623;
  /* Fonts */
  --title-h1: 32rem;
  --title-h2: 28rem;
  --title-h3: 24rem;
  --title-h4: 20rem;
  --title-h5: 16rem;
  --paragraphs: 14rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}
body {
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  width: inherit;
  height: 7vh;
  background-color: white;
  border-bottom: 3px solid darkturquoise;
  align-items: center;
}
.logo-container {
  width: 60%;
  padding-left: 30px;
}
.logo-container img {
  height: 5vh;
}

header {
  display: flex;
  width: inherit;
  height: 7vh;
  background-color: white;
  border-bottom: 3px solid darkturquoise;
  align-items: center;
}
.logo-container {
  width: 60%;
  padding-left: 30px;
}
.logo-container img {
  height: 5vh;
}
header > nav {
  display: flex;
  width: 35%;
  justify-items: flex-end;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
  transition: all 1s ease;
  list-style: none;
}
header li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--title-h5);
}
header a:hover {
  transition: all 1s;
  color: black;
}
header li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icons img {
  height: 3.5vh;
  padding-top: 5px;
  padding-right: 5px;
}

.main-view {
  background-image: url('../images/assets/index/banquete.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 93vh;
}
.main-view > div {
  background-color: rgba(0,0,0, .4  );
  width: 100vw;
  height: 93vh;
  padding: 8% 0 0 10%;
  color: var(--just-white);
}
.main-view h1 {
  font-size: 100rem;
  line-height: 100rem;
}
.main-view p {
  margin-top: 50px;
  font-size: var(--title-h4);
}

.main__welcome {
  display: flex;
  width: 75vw;
  height: auto;
  margin: 50px auto;
}
.main__welcome figure {
  background-image: url('../images/assets/index/main-welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30vw;
  height: 50vh;
  margin: auto;
}
.main__welcome div {
  padding: 5% 0 0 45px;
  width: 80%;
  height: 67vh;
}
.main__welcome h2 {
  width: 80%;
  font-weight: 400;
  font-size: 70rem;
  line-height: 70rem;
}
.main__welcome p {
  padding-top: 30px;
  text-align: justify;
  font-size: var(--title-h5);
}
.main__welcome h2 > span {
  color: var(--color-secondary);
}

.aboutUs {
  display: flex;
  width: 75vw;
  margin: 50px auto;
  justify-content: space-between;
}
.aboutUs__component {
  width: 30vw;
  justify-content: space-between;
  font-size: var(--paragraphs);
}
.component__middle{
margin:0 45px;
}
.blueText {
  text-transform: uppercase;
  font-size: var(--title-h3);
  color: darkturquoise;
}
.component--align {
  padding-top: 20px;
  text-align: justify;
}
#services h2{
  text-align: center;
  font-size: var(--title-h2);
  margin-bottom: 40px;
  margin-top: 100px;
}
#services section{
  display: flex;
  margin:auto;
  width: 70vw;
}
#services figure{
  width: 35vw;
  position: relative;
}
#services img{
  max-width: 35vw;
  padding: 5px;
}
.imagen-servicios, .imagen-servicios2{
  max-width: 35vw;
}
.mascara{
  background-image: url('../images/assets/index/platillo2.jpg');
  background-size: cover;
  position: relative;
  max-width: 97.7%;
  height: 31%;
  padding-left: 5px;
}
#services div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary );
  padding: 8% 0 0 10%;
  color: var(--just-white);
}
#services div p{
  font-size: 16px;
  color: var(--just-white);
  
}
#services div span{
  font-size: var(--title-h3);
  font-weight: bold;
}

main > h2{
  font-size: var(--title-h2);
  text-align:center;
  margin: 100px 0 50px;
}
.clientes{
  width: 100vw;
  height: 65vh;
  background-color:var(--just-grey);
}
.clientes2{
  width: 70vw;
  margin:10px auto;
  display: flex;
}
.clientes article{
  position: relative;
  background-color: var(--color-secondary);
  width: 35vw;
  height: 40vh;
  margin: 30px 20px 0;
  padding: 40px 60px;
}
.clientes2 p{
  font-size: var(--paragraphs);
}
.clien{
  color:var(--just-white);
  text-align: justify;
}


.segunda{
  position: absolute;
  bottom: calc(0% - 75px);
  left: calc(40% - 90px);
  width: 250px;
  height: auto;
  text-align: center;
}
.segunda img{
  border-radius: 100px;
  border:3px solid var(--just-white);
  height: 15vh;
}
.primera span, .segunda span{
  font-weight: 800;
  font-size: var(--title-h5);
}

footer{
  width: 100%;
  height: 15vh;
  border-top: 2px solid var(--color-secondary);
  padding-top: 5vh;
}
footer section{
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.copy{
  font-size: var(--paragraphs);
  margin-left: 15vw;
}
.logo{
  width: 10vw;
  margin-left: 5vw;
}

footer nav {
  display: flex;
  width: 30vw;
  justify-items: flex-end;
  justify-content: space-between;
  transition: all 1s ease;
  list-style: none;
  margin-right: 5vw;
}
footer li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
  transition: all .3s ease;
  line-height: normal;
}
footer a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline;
  color: gray;
  font-size: var(--paragraphs);
}
footer a:hover{
  transition: all 1s;
  color: black;
}
footer li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid darkturquoise;
}
.icon-footer img {
  width: 2vw;
  padding-top: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 1124px){
  .logo-container {
    width: 20%;
    padding-left: 20px;
  }
  header > nav {
    position: absolute;
    right: 0;
    width: 45%;
    justify-content: space-between;
    margin-right: 0px;
    transition: all 1s ease;
    list-style: none;
  }
  header li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
    .main__welcome h2 {
      width: 80%;
      font-weight: 300;
      font-size: 45rem;
      line-height: 50rem;
    }
    .main__welcome p {
      padding-top: 20px;
      text-align: justify;
      font-size: var(--paragraphs);
    }
  .main__welcome figure {
    background-image: url('../images/assets/index/main-welcome.jpg');
    background-size: 25vw 40vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 50vh;
    margin: auto;
  }
  .main__welcome div {
    padding: 5% 0 0 20px;
    width: 80%;
    height: 55vh;
  }
  .aboutUs__component {
    width: 30vw;
    justify-content: space-between;
    font-size: 13rem;
  }
  .component__middle{
  margin:0 35px;
  }
  .blueText {
    text-transform: uppercase;
    font-size: var(--title-h5);
    color: darkturquoise;
  }
  #services h2{
    text-align: center;
    font-size: var(--title-h2);
    margin-bottom: 40px;
    margin-top: 0;
  }

  #services div{
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 206, 209, .6);
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 30px;
  }
  #services div p{
    font-size: 13px;
    color: var(--just-white);
  }
  #services div span{
    font-size: var(--title-h5);
  }
  .clientes2{
    width: 80vw;
    margin:10px auto;
    display: flex;
  }
  .clientes article{
    position: relative;
    background-color: var(--color-secondary);
    width: 40vw;
    height: auto;
    margin: 30px 20px 0;
    padding: 20px 30px;
    padding-bottom: 50px;
  }
  .clientes2 p{
    font-size:13rem;
  }
  .clien{
    color:var(--just-white);
    text-align: justify;
  }
  .copy{
    font-size: var(10rem);
    margin-left: 5vw;
    width: 35vw;
  }
  .logo{
    width: 12vw;
    margin-right: 5vw;
  }

  footer nav {
    display: flex;
    width: 40vw;
    justify-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease;
    list-style: none;
  }
  footer li {
    display:inline-block;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  footer a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: var(9rem);
  }
  .icon-footer img {
    height: 3.5vh;
  }
}





@media screen and (max-width: 780px){
  .logo-container img {
    height: 3.5vh;
  }
  header > nav {
    position: absolute;
    left: 40%;
    width: 63.5%;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    margin-right: 0px; 
    transition: all 1s ease;
    list-style: none;
  }
  header li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 2px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  header a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: 10rem;
  }
  .icons img {
    height: 3vh;
    padding-top: 5px;
    padding-right: 2px;
  }
  .main-view h1 {
    font-size: 70rem;
    line-height: 80rem;
    font-weight: 400;
  }
  main > h2{
    font-size: var(--title-h2);
    text-align:center;
    margin: 40px 0;
  }
  .main-view p {
    margin-top: 40px;
    font-size: var(--title-h5);
  }
  .main-view > div {
    background-color: rgba(0,0,0, .4  );
    width: 100vw;
    height: 93vh;
    padding: 25% 0 0 10%;
    color: var(--just-white);
  }
  .main__welcome {
    display: block;
    width: 85vw;
    height: auto;
    margin: 50px auto;
    text-align: center;
  }
  .main__welcome h2 {
    width: 100%;
    font-weight: 300;
    font-size: 40rem;
    line-height: 40rem;
    padding-top: 5%;
  }
  .main__welcome p {
    text-align: justify;
    font-size: 12rem;
  }
  .main__welcome figure {
    background-image: url('../images/assets/index/main-welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    width: 100vw;
    height: 20vh;
  }
  .main__welcome div {
    padding: 5% 0 0 15px;
    width: 100%;
    height: auto;
  }
  .aboutUs {
    display: block;
    width: 80vw;
    margin: 70px auto;
    justify-content: space-between;
  }
  .aboutUs__component {
    width: 100%;
    justify-content: space-between;
    font-size: 11rem;
  }
  .component__middle{
  margin:0;
  }
  .blueText {
    display: block;
    text-transform: uppercase;
    font-size: var(--paragraphs);
    color: darkturquoise;
    margin-top: 10%;
    text-align: center;
  }
  .mascara{
    background-image: url('../images/assets/index/platillo2.jpg');
    background-size: cover;
    position: relative;
    max-width: 93.7%;
    height: 31%;
    padding-left: 5px;
  }
  #services div{
    padding: 10% 0 0 5%;
    align-items: flex-start;
  }
  #services div p{
    font-size: 2.7vw;
    color: var(--just-white);
  }
  #services div span{
    font-size: 3vw;
  }
  #services h2{
    text-align: center;
    font-size: var(--title-h2);
    margin-bottom: 40px;
    margin-top: 0;
  }
  .clientes{
    width: 100vw;
    height: auto;
    padding: 5% 0 .1% 0 ;
    background-color:var(--just-grey);
  }
  .clientes2{
    width: 80vw;
    margin: 10px auto;
    display: block;
  }
  .clientes article{
    position: relative;
    background-color: var(--color-secondary);
    width: 100%;
    height: 10%;
    margin: 20px 10px 0;
    margin-bottom: 100px;
    padding: 15px 20px;
    padding-bottom: 50px;
  }
  .clientes2 p{
    font-size:12rem;
  }
  .clien{
    color:var(--just-white);
    text-align: justify;
  }

  .copy{
    font-size: 10rem;
    margin-left: 5vw;
    width: 35vw;
  }
  .logo{
    width: 8vh;
    margin-right: 5vw;
  }
  footer nav {
    display: flex;
    width: 35vw;
    justify-items: flex-end;
    justify-content: space-between;
    transition: all 1s ease;
    list-style: none;
    padding-left: 12%;
  }
  footer li {
    display:block;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    line-height: normal;
  }
  footer a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
    color: gray;
    font-size: 10rem;
  }
  .icon-footer img {
    height: 3.5vh;
    width: 3vh;
  }
}